
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Exam Schedule Page</title>
</head>
<body>
    <div>
        <input id="back" type="submit" value="Back"
               onclick="location.href='@Url.Action("Index", "Student")'" />
    </div>
</body>
</html>