@model Collage_Moodle.Models.ViewExamGrades
@using Collage_Moodle.Models

@{
    ViewBag.Title = "ViewGrades";
    Users thisUser = (Users)Session["user"];

}

<h3>Grades Table for student: @thisUser.userName</h3>

<div>

</div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Course Name</th>
        <th>Grade</th>
    </tr>

    @foreach (var course in Model.students)
    {
        <tr>
            <td>@course.Courses_cName</td>
            <td>@course.grade</td>
        </tr>
    }

</table>

<div class="col-md-offset-0 margin-top-10">
    <input type="submit" value="Back" class="btn btn-default"
           onclick="location.href='@Url.Action("Index")'" />
</div>