@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Assign Students</title>
</head>
<body>
    <div>
        <i>Student ID:</i>  <input type="text" id="student_ID" value="" />
        <br />
        <i>Course Name:</i>  <input type="text" id="course_name" value="" />
        <br />
        <input id="view" type="submit" value="View" />
        <br />
        <input id="back" type="submit" value="Back"
               onclick="location.href='@Url.Action("Index", "FacultyAdministrator")'" />

    </div>
</body>
</html>